@import '@styles/values.scss';

.register {
  background-color: $body-color;
  min-height: 100vh;
}

.form {
  background-color: $white-color;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 20rem;
  max-width: 20rem;
}

.button {
  width: 100%;
}
