@use '@styles/variables' as *;

.profile {
  padding: 2rem 1rem;
  min-height: 100vh;

  h2 {
    text-align: center;
  }

  @media (min-width: $xs) {
    padding: 2rem;
  }

  @media (min-width: $sm) {
    padding: 2rem 3rem;
    width: 36rem;
  }

  @media (min-width: $lg) {
    width: 54rem;
  }
}

.content {
  width: 100%;

  @media (min-width: $xs) {
    a,
    button {
      margin-left: auto;
      width: 10rem;
    }
  }
}

.actions {
  button:last-child {
    margin: 0;
  }
}

.listItem {
  flex-direction: column;
  gap: 0.5rem;

  .dropdown {
    width: 100%;
  }

  @media (min-width: $xs) {
    flex-direction: row;

    .data {
      margin-left: auto;
      width: 16rem;
      > div:not(.dropdown) {
        width: 100%;
        text-align: end;
        justify-content: flex-end;
      }
    }
  }
}

.selectedSubjects {
  div {
    width: 100%;
    text-align: center;
  }
}
