$body-color: #f8f8f8;
$white-color: #ffffff;

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

body {
  font-family: 'Inter';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}
