@use '@styles/variables' as *;

.vote {
  padding: 2rem 1rem;
  min-height: 100vh;

  > h2 {
    text-align: center;
  }

  @media (min-width: $xs) {
    padding: 2rem;
  }

  @media (min-width: $sm) {
    padding: 2rem 3rem;
  }
}

.content {
  width: 100%;
  max-width: 54rem;
  @media (min-width: $xs) {
    a,
    button {
      margin-left: auto;
    }
  }
}
