@use '@styles/variables' as *;

.login {
  padding: 2rem 1rem;
  min-height: 100vh;

  h2,
  p {
    text-align: center;
  }

  @media (min-width: $xs) {
    width: 24rem;
  }
}

.card {
  width: 100%;
}

.button {
  width: 100%;
}
