@import '@styles/values.scss';

.register {
  padding: 2rem 1rem;
  min-height: 100vh;
  max-width: 24rem;

  > h2,
  p {
    text-align: center;
  }

  @media (min-width: $xs) {
    padding: 2rem;
  }

  @media (min-width: $sm) {
    padding: 2rem 3rem;
  }
}

.card {
  width: 100%;
}

.button {
  width: 100%;
}
