@import '@styles/values.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  display: flex;
  justify-content: center;
  background-color: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}
