@import '@styles/values.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';
}

body {
  display: flex;
  justify-content: center;
  background-color: $body-color;
}
